


<h1>FreedomFitness <i class="em em-zap" aria-role="presentation" aria-label="HIGH VOLTAGE SIGN"></i></h1>
<link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
<h3>Welcome <%= @user.username%>!</h3>


    <%= link_to "New exercise", new_exercise_path %> 
    <br>
    <br>
    <%= link_to "View Workout", exercises_path %>
    <br>
    <br>
    <%= link_to 'Log out', new_log_in_path %>









